binance:
  BTCUSDT: {}
  ETHUSDT: {}
bitfinex:
  tBTCUSD: {}
  tETHUSD: {}
bitflyer:
  BTC_JPY: {}
  ETH_JPY: {}
bitmex:
  XBTUSD: {}
  ETHUSD: {}
  XBT:
    futures: true
  ETH:
    futures: true
bybit:
  "BTC-USD": {}
  "ETH-USD": {}
coinbase:
  "BTC-USD": {}
  "ETH-USD": {}
deribit:
  "BTC-PERPETUAL": {}
ftx:
  "BTC/USD": {}
  "ETH/USD": {} 
  "BTC-PERP": {} 
  "ETH-PERP": {} 
  "BTC-MOVE":
    futures: true
upbit:
  "KRW-BTC": {} 
  "KRW-ETH": {}
